<div class="comment_patch_box">
  <div>
  <label class="comment_label">Add comment</label><br>
  {{textarea type="text" rows="6" cols="80" placeholder="Comment.." class="comment_box_patch"}}
  </div>
  <button {{action 'sendComment'}} class="send_button">Send</button>
</div>
