{{#each patch.comments as |comment|}}
<div class="patch_comment_single">

  <div class="patch_comment_user">
      {{comment.user.username}}
  </div>
  <div class="patch_comment_text">
    {{comment.text}}
  </div>

</div>



  {{else}}
    <h4>No comments</h4>
{{/each}}
