<div class="patch_head">

{{#link-to "patch.patches" patch.id}}
<article class="patch_prevw">
  <div class="patch_list_details">
      <div class="patch_version links">
        <span>  Patch: {{patch.version}} </span><br>
        <span> Release-Date: {{moment-format patch.date 'MMMM D, YYYY h:mm A'}}</span>
      </div>

      <div class="patch_version links">
        <span>  Focus: {{patch.focus}} </span>
      </div>

      <div class="patch_version links">
        <span>  Details: {{patch.details}} </span>
      </div>
  </div>
</article>

{{/link-to}}

</div>
