<div>

{{#link-to "patch.patches" patch.id}}
<article class="bg_nav_div">
  <div>
      <div>
        <span>  Patch: {{patch.version}} </span><br>
        <span> Release-Date: {{moment-format patch.date 'DD.MM.YYYY HH:mm'}}</span>
      </div>

      <div>
        <span>  Focus: {{patch.focus}} </span>
      </div>

      <div>
        <span>  Details:<br>{{excerpt patch.details}} </span>
      </div>
  </div>
</article>

{{/link-to}}

</div>
