<article class="ticket_list">
    <div class="ticket_list_details">
        <h3>{{this.ticket.title}}</h3>
        <div class="ticket_list_details subject">
            <span>{{this.ticket.subject}}</span>
        </div>
        <div class="ticket_list_details content">
            <span>{{this.ticket.content}}</span>
        </div>
    </div>
</article>