html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #EC1A62;
  transition: background-color 5000s ease-in-out 0s;
}

.rolename {
  color: #F0F2F3;
  max-width: 100%;
  background-color: transparent;
  border: solid 1px #394854;
  height: fit-content;
  width: 100%;
  padding: 4% 3% 4% 3%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.ember-view {
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}

/*#3b8686*/
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #293238;
}

.role_nav_roles_user {
  display: none;
}

.showdiv {
  display: block;
  text-align: center;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

.bg_nav {
  background-color: #38444C;
  color: #F0F2F3;
}

.bg_nav_div {
  background-color: #5C6E7F;
  color: #F0F2F3;
}

.outline_l {
  border-color: #394854;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
}

.outline_r {
  border-color: #394854;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
}

.outline_l_r {
  border-color: #394854;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
}

.outline_b_s {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #394854;
}

.outline_t_b_s {
  border-color: #394854;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}

.outline_4_d {
  border-color: #394854;
  border-style: dashed;
  border-width: 1px;
}

.outline_4_s {
  border-color: #394854;
  border-style: solid;
  border-width: 1px;
}

.button_style {
  color: black;
  background-color: white;
  border-radius: 5px;
  border: none;
}

.bg_nav_div a, .bg_nav a {
  color: #F0F2F3;
}

.bg_nav_div button, .bg_nav button {
  color: #F0F2F3;
}

.bg_nav_div div, .bg_nav div {
  color: #F0F2F3;
}

.bg_nav_div button a, .bg_nav button a {
  color: #F0F2F3;
}

.outline_t_b_l {
  border-color: #394854;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*=col-] {
  float: left;
  padding: 0;
  margin: 0;
}

#pita {
  text-align: center;
  font-weight: 600;
  background-color: #EC1A62;
  padding: 0% 0% 0% -1%;
  color: #F0F2F3;
  margin-top: 7.5%;
  font-size: 1.1em;
  letter-spacing: 10px;
}

.row {
  font-size: 1.25vw;
  height: 100%;
  background-color: transparent;
  height: 100%;
  width: 100%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row .col-1 {
  height: 100%;
}
.row .col-1 div {
  margin-bottom: 7.5%;
  margin-left: 10%;
}
.row .col-1 div:hover {
  background-color: #400016;
}
.row .col-10 {
  min-height: 100%;
  margin-left: 1.25%;
  padding: 2.5%;
  color: #F0F2F3;
}
.row .col-10 a {
  color: #EC1A62;
}
.row .col-10 div {
  border-radius: 5px;
  padding: 2.5%;
  font-weight: 440;
}
.row ::placeholder {
  font-size: 0.95em;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row .col-2 {
  margin: 10% 5% 5% 5%;
}
.row .support {
  margin: 0;
  height: 100%;
}
.row .support div:hover {
  background-color: #400016;
}
.row .support_nav_h {
  background-color: #EC1A62;
  text-align: center;
  margin: 0;
}
.row .user_ovw_roles {
  margin: 10% 5% 5% 5%;
  height: 70%;
  border-radius: 5px;
}
.row .col-2 button {
  border: none;
  width: 100%;
  font-size: 0.95em;
  margin-bottom: 2.5%;
}
.row .col-2 button:hover {
  background-color: #400016;
}
.row .dropdown {
  display: inline-block;
}
.row .drop_content {
  display: none;
}
.row .dropdown:hover .drop_content {
  display: block;
}
.row .drop_content a div:hover {
  background-color: #400016;
}
.row .col-2 form {
  margin-top: 10%;
}
.row .col-2 form div {
  margin-bottom: 2.5%;
}
.row .col-2 form input {
  float: right;
  z-index: 1;
  height: 1vw;
}
.row .save button {
  margin-top: 5%;
  font-size: 0.95em;
  border: 1.5px solid #394854;
  border-radius: 5px;
  background-color: transparent;
}
.row .role {
  margin-top: 11.7%;
}
.row .role::after {
  content: "";
  clear: both;
  display: table;
}
.row .role .user {
  margin-top: 10%;
}
.row .col-7 {
  min-height: 25%;
  max-height: 60%;
  margin: 10% 0% 0% 7%;
  font-size: 0.95em;
}
.row .col-7 .t_id {
  font-size: 0.85em;
}
.row .col-7 input {
  color: #F0F2F3;
  background-color: transparent;
  border-color: #394854;
  border-style: double;
  border-width: 0px 0px 1.5px 0px;
}
.row .col-7 article {
  background-color: #5C6E7F;
  border-radius: 10px;
  margin-bottom: 0.25%;
}
.row .col-7 article:hover {
  background-color: #400016;
}
.row .col-4 {
  margin: 12.75% 0% 0% 18.25%;
  padding: 2.5%;
}
.row .col-4 textarea {
  resize: none;
  color: #F0F2F3;
  border: 1px solid #394854;
}
.row .col-4 input {
  color: #F0F2F3;
  border: 1px solid #394854;
}
.row .patches {
  margin: 0;
  height: 100%;
}
.row .patches #patch_ovw {
  background-color: #EC1A62;
}
.row .patches #patch_ovw:hover {
  background-color: #400016;
}
.row .patches .ember-view {
  height: 11%;
}
.row .patches article {
  background-color: #5C6E7F;
}
.row .patches article:hover {
  background-color: #400016;
}
.row .patch_bl {
  margin: 0;
  float: right;
}
.row .patch_bl button {
  float: left;
  color: #F0F2F3;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #394854;
}
.row .patch_bl_ls {
  margin: 5.25% 0% 0% 4.5%;
  max-height: 70%;
  min-height: 25%;
  border-radius: 10px;
}
.row .patch_bl_ls article {
  border-radius: 10px;
  padding: 2.5%;
  font-size: 85%;
  margin: 0.5% 0% 0% 0%;
}
.row .patch_bl_ls article:hover {
  background-color: #400016;
}
.row .patch_form {
  margin: 8.675% 0% 0% 9.125%;
  width: fit-content;
  padding: 2%;
}
.row .patch_form input, .row .patch_form textarea, .row .patch_form button {
  resize: none;
  border: solid 1px #394854;
  background-color: transparent;
  border-radius: 5px;
  color: #F0F2F3;
}
.row .patch_form label {
  color: #F0F2F3;
}
.row .del_patch {
  float: right;
  margin: 0% 0% 0% 0%;
}
.row .del_patch button {
  background-color: transparent;
  border: 1px solid #394854;
  color: #F0F2F3;
}
.row .del_patch button:hover {
  background-color: #400016;
}
.row .sgl_ptch {
  margin: 1.5% 0% 0% 8.25%;
  padding: 0.25%;
  color: #F0F2F3;
  min-height: 30%;
  max-height: 85%;
}
.row .sgl_ptch form {
  padding: 2.5%;
  margin-bottom: 1%;
}
.row .sgl_ptch .patch_comment {
  margin-bottom: 1%;
  padding: 2.5%;
}
.row .sgl_ptch .patch_comment textarea {
  color: #F0F2F3;
  background-color: transparent;
  border: 1px solid #394854;
  resize: none;
  border-radius: 5px;
}
.row .sgl_ptch .patch_comment button {
  background-color: transparent;
  color: #F0F2F3;
  border-radius: 5px;
}
.row .sgl_ptch .patch_comment button:hover {
  background-color: #400016;
}
.row .sgl_ptch .cmt_frame {
  padding: 1.25%;
}
.row .login_form {
  border: 1px dashed #394854;
  padding: 2.5%;
  color: #F0F2F3;
  margin: 12.5% 0% 0% 37.5%;
  border-radius: 5px;
}
.row .login_form::after {
  content: "";
  clear: both;
  display: table;
}
.row .login_form form p {
  color: #EC1A62;
  font-weight: 450;
}
.row .login_form form input {
  width: 100%;
  height: fit-content;
  border: 1px solid #394854;
  color: #F0F2F3;
  background-color: transparent;
  border-radius: 5px;
  padding: 1% 0.5% 0.5% 1.5%;
  margin: 2.5% 0% 2.5% 0%;
}
.row .login_form button {
  margin-top: 5%;
  margin-bottom: -2%;
  border: 1px solid #394854;
  background-color: transparent;
  color: #F0F2F3;
  border-radius: 5px;
}
.row .login_form button:hover {
  background-color: #400016;
}
.row .register {
  margin: 8% 0% 0% 37.5%;
  padding: 2.5%;
}
.row .register form input {
  width: 100%;
  height: fit-content;
  border: 1px solid #394854;
  color: #F0F2F3;
  background-color: transparent;
  border-radius: 5px;
  padding: 1% 0.5% 0.5% 1.5%;
  margin: 2.5% 0% 2.5% 0%;
}
.row .register p {
  font-weight: 450;
  color: #EC1A62;
}
.row .register button {
  margin-top: 5%;
  border: 1px solid #394854;
  background-color: transparent;
  color: #F0F2F3;
  border-radius: 5px;
}
.row .register button:hover {
  background-color: #400016;
}
.row .friend_nav {
  margin: 0;
  height: 100%;
  color: #F0F2F3;
}
.row .friend_nav a {
  color: #F0F2F3;
}
.row .friend_nav div {
  margin: 0;
}
.row .friend_nav div button {
  margin: 0;
  padding: 2.5% 0% 2.5% 2.5%;
  height: 100%;
  width: 100%;
  color: #F0F2F3;
  background-color: transparent;
  border-style: solid;
  border-color: #394854;
  border-width: 1px 0px 1px 0px;
  text-align: left;
}
.row .friend_nav div .button:hover {
  background-color: #400016;
}
.row .add_friend {
  margin: 9.75% 0% 0% 8.25%;
  color: #F0F2F3;
  padding: 2.5%;
}
.row .add_friend button {
  float: right;
  background-color: transparent;
  color: #F0F2F3;
  border: 1px solid #394854;
}
.row .add_friend .add_ul {
  padding: 0.5%;
  margin: 2% 0% 0% -1%;
}
.row .friends_reqs {
  margin: 6% 0% 0% 8.25%;
  color: #F0F2F3;
  min-height: 20%;
  max-height: 75%;
  border: solid 1px #394854;
  padding: 2%;
}
.row .friends_reqs .fq_user {
  margin: 2%;
  padding: 2.5%;
}
.row .friends_reqs .fq_user button {
  width: 20%;
  font-size: 0.85em;
  text-align: center;
  background-color: transparent;
  color: #F0F2F3;
  float: right;
  border: solid 1px #394854;
  border-radius: 5px;
}
.row .chat_base {
  margin: 3.5% 0% 0% 4.125%;
  height: 85%;
}
.row .chat_base .row2 {
  height: 100%;
}
.row .chat_base .row2 .last_chats {
  margin: 0;
  min-height: 100%;
  max-height: 100%;
  background-color: #394854;
}
.row .chat_base .row2 .last_chats div {
  margin: 0;
}
.row .chat_base .row2 .last_chats div button {
  margin: 0;
  padding: 2.5% 0% 2.5% 2.5%;
  height: 100%;
  width: 100%;
  color: #EC1A62;
  background-color: transparent;
  border-style: solid;
  border-color: #37424D;
  border-width: 1px 0px 1px 0px;
}
.row .chat_base .row2 .last_chats .last_conv {
  color: #EC1A62;
  text-align: center;
  padding: 1%;
}
.row .chat_base .row2 .last_chats .last_conv:hover {
  background-color: #400016;
}
.row .chat_base .row2 .rest_chat {
  margin-left: 16.66%;
  width: 83.34%;
  height: 100%;
  background-color: #5C6E7F;
}
.row .chat_base .row2 .rest_chat .row2 {
  height: 10%;
  width: 100%;
  color: #F0F2F3;
  background-color: #37424D;
}
.row .chat_base .row2 .rest_chat .row2 .heading {
  margin-left: 5%;
}
.row .chat_base .row2 .rest_chat .row3 {
  padding-bottom: 2.5%;
  color: #F0F2F3;
  height: 70%;
  width: 100%;
  background-color: #293238;
}
.row .chat_base .row2 .rest_chat .row3 .me, .row .chat_base .row2 .rest_chat .row3 .op {
  border-radius: 10px;
  border: 1px solid #394854;
  background-color: #37424D;
  padding: 1.25%;
}
.row .chat_base .row2 .rest_chat .row3 .bbl_right {
  margin: 0;
  float: right;
  min-width: 55%;
  max-width: 75%;
  margin-right: 1%;
}
.row .chat_base .row2 .rest_chat .row3 .bbl_right p {
  margin: 2.5% 0% 1% 3.5%;
}
.row .chat_base .row2 .rest_chat .row3 .bbl_left {
  margin: 0;
  float: left;
  min-width: 55%;
  max-width: 75%;
  margin-left: 1%;
}
.row .chat_base .row2 .rest_chat .row3 .bbl_left p {
  margin: 2.5% 0% 1% 2.5%;
}
.row .chat_base .row2 .rest_chat .row4 {
  height: 20%;
  width: 100%;
  background-color: #37424D;
}
.row .chat_base .row2 .rest_chat .row4 textarea {
  resize: none;
  width: 70%;
  height: 70%;
  border-radius: 10px;
  background-color: #293238;
  padding: 0.75%;
  margin: 2% 0% 0% 15%;
  color: #F0F2F3;
}
.row .chat_base .row2 .rest_chat .row4 button {
  background-color: transparent;
  border-radius: 15px;
  float: right;
  color: #F0F2F3;
  margin: 5.25% 4.5% 0% 0%;
}

.moveable_user {
  background-color: #EC1A62;
}

.moved_user {
  background-color: #5C6E7F;
}

.acc, .acc a {
  color: #EC1A62;
}

.no_acc, .no_acc a {
  color: #00B210;
}

/*# sourceMappingURL=app.css.map */
