html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #EC1A62;
  transition: background-color 5000s ease-in-out 0s;
}

.rolename {
  color: #F0F2F3;
  max-width: 100%;
  background-color: transparent;
  border: solid 1px #394854;
  height: fit-content;
  width: 100%;
  padding: 4% 3% 4% 3%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.ember-view {
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}

/*#3b8686*/
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  font-family: "Trebuchet MS", sans-serif, monospace;
  background-color: #293238;
}

.role_nav_roles_user {
  display: none;
}

.showdiv {
  display: block;
  text-align: center;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

.bg_nav {
  background-color: #38444C;
  color: #F0F2F3;
}

.bg_nav_div {
  background-color: #5C6E7F;
  color: #F0F2F3;
}

.outline_l {
  border-color: #394854;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
}

.outline_r {
  border-color: #394854;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
}

.outline_l_r {
  border-color: #394854;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
}

.outline_b_s {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #394854;
}

.outline_t_b_s {
  border-color: #394854;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}

.outline_4_d {
  border-color: #394854;
  border-style: dashed;
  border-width: 1px;
}

.outline_4_s {
  border-color: #394854;
  border-style: solid;
  border-width: 1px;
}

.button_style {
  color: black;
  background-color: white;
  border-radius: 5px;
  border: none;
}

.bg_nav_div a, .bg_nav a {
  color: #F0F2F3;
}

.bg_nav_div button, .bg_nav button {
  color: #F0F2F3;
}

.bg_nav_div div, .bg_nav div {
  color: #F0F2F3;
}

.bg_nav_div button a, .bg_nav button a {
  color: #F0F2F3;
}

.outline_t_b_l {
  border-color: #394854;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*=col-] {
  float: left;
  padding: 0;
  margin: 0;
}

#pita {
  text-align: center;
  font-weight: 650;
  background-color: #EC1A62;
  padding: 0% 0% 0% -1%;
  color: #F0F2F3;
  margin-top: 7.5%;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.row {
  font-size: 1.25vw;
  height: 100%;
  background-color: transparent;
  height: 100%;
  width: 100%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row .col-1 {
  height: 100%;
}
.row .col-1 div {
  margin-bottom: 7.5%;
  margin-left: 10%;
}
.row .col-1 div:hover {
  background-color: #400016;
}
.row .col-10 {
  min-height: 100%;
  margin-left: 1.25%;
  padding: 2.5%;
  color: #F0F2F3;
}
.row .col-10 a {
  color: #EC1A62;
}
.row .col-10 div {
  border-radius: 5px;
  padding: 2.5%;
  font-weight: 440;
}
.row ::placeholder {
  font-size: 0.95em;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row .col-2 {
  margin: 10% 5% 5% 5%;
}
.row .support {
  margin: 0;
  height: 100%;
}
.row .support div:hover {
  background-color: #400016;
}
.row .support_nav_h {
  background-color: #EC1A62;
  text-align: center;
  margin: 0;
}
.row .user_ovw_roles {
  margin: 10% 5% 5% 5%;
  height: 70%;
  border-radius: 5px;
}
.row .col-2 button {
  border: none;
  width: 100%;
  font-size: 0.95em;
  margin-bottom: 2.5%;
}
.row .col-2 button:hover {
  background-color: #400016;
}
.row .dropdown {
  display: inline-block;
}
.row .drop_content {
  display: none;
}
.row .dropdown:hover .drop_content {
  display: block;
}
.row .drop_content a div:hover {
  background-color: #400016;
}
.row .col-2 form {
  margin-top: 10%;
}
.row .col-2 form div {
  margin-bottom: 2.5%;
}
.row .col-2 form input {
  float: right;
  z-index: 1;
  height: 1vw;
}
.row .save button {
  margin-top: 5%;
  font-size: 0.95em;
  border: 1.5px solid #394854;
  border-radius: 5px;
  background-color: transparent;
}
.row .user {
  width: 16%;
  position: fixed;
  margin: 22.5% 0% 0% 67%;
  background-color: #38444C;
  color: #F0F2F3;
  min-height: 42.5%;
  max-height: 45%;
  border-radius: 0px 0px 5px 5px;
}
.row .user button {
  width: 100%;
  color: #F0F2F3;
  border-style: solid;
  border-color: #394854;
  border-width: 1px 0px 1px 0px;
}
.row .col-7 {
  min-height: 25%;
  max-height: 60%;
  margin: 10% 0% 0% 7%;
  font-size: 0.95em;
}
.row .col-7 .t_id {
  font-size: 0.85em;
}
.row .col-7 input {
  color: #F0F2F3;
  background-color: transparent;
  border-color: #394854;
  border-style: double;
  border-width: 0px 0px 1.5px 0px;
}
.row .col-7 article {
  background-color: #5C6E7F;
  border-radius: 10px;
  margin-bottom: 0.25%;
}
.row .col-7 article:hover {
  background-color: #400016;
}
.row .col-4 {
  margin: 12.75% 0% 0% 18.25%;
  padding: 2.5%;
}
.row .col-4 textarea {
  resize: none;
  color: #F0F2F3;
  border: 1px solid #394854;
}
.row .col-4 input {
  color: #F0F2F3;
  border: 1px solid #394854;
}
.row .patches {
  margin: 0;
  height: 100%;
}
.row .patches #patch_ovw {
  background-color: #EC1A62;
}
.row .patches #patch_ovw:hover {
  background-color: #400016;
}
.row .patches .ember-view {
  height: 11%;
}
.row .patches article {
  background-color: #5C6E7F;
}
.row .patches article:hover {
  background-color: #400016;
}
.row .patch_bl {
  margin: 0;
  float: right;
}
.row .patch_bl button {
  float: left;
  color: #F0F2F3;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #394854;
}
.row .patch_bl_ls {
  margin: 5.25% 0% 0% 4.5%;
  max-height: 70%;
  min-height: 25%;
  border-radius: 10px;
}
.row .patch_bl_ls article {
  border-radius: 10px;
  padding: 2.5%;
  font-size: 85%;
  margin: 0.5% 0% 0% 0%;
}
.row .patch_bl_ls article:hover {
  background-color: #400016;
}
.row .patch_form {
  margin: 8.675% 0% 0% 9.125%;
  width: fit-content;
  padding: 2%;
}
.row .patch_form input, .row .patch_form textarea, .row .patch_form button {
  resize: none;
  border: solid 1px #394854;
  background-color: transparent;
  border-radius: 5px;
  color: #F0F2F3;
}
.row .patch_form label {
  color: #F0F2F3;
}
.row .del_patch {
  float: right;
  margin: 0% 0% 0% 0%;
}
.row .del_patch button {
  background-color: transparent;
  border: 1px solid #394854;
  color: #F0F2F3;
}
.row .del_patch button:hover {
  background-color: #400016;
}
.row .sgl_ptch {
  margin: 1.5% 0% 0% 8.25%;
  padding: 0.25%;
  color: #F0F2F3;
  min-height: 30%;
  max-height: 85%;
}
.row .sgl_ptch form {
  padding: 2.5%;
  margin-bottom: 1%;
}
.row .sgl_ptch .patch_comment {
  margin-bottom: 1%;
  padding: 2.5%;
}
.row .sgl_ptch .patch_comment textarea {
  color: #F0F2F3;
  background-color: transparent;
  border: 1px solid #394854;
  resize: none;
  border-radius: 5px;
}
.row .sgl_ptch .patch_comment button {
  background-color: transparent;
  color: #F0F2F3;
  border-radius: 5px;
}
.row .sgl_ptch .patch_comment button:hover {
  background-color: #400016;
}
.row .sgl_ptch .cmt_frame {
  padding: 1.25%;
}
.row .login_form {
  border: 1px dashed #394854;
  padding: 2.5%;
  color: #F0F2F3;
  margin: 12.5% 0% 0% 37.5%;
  border-radius: 5px;
}
.row .login_form::after {
  content: "";
  clear: both;
  display: table;
}
.row .login_form form p {
  color: #EC1A62;
  font-weight: 450;
}
.row .login_form form input {
  width: 100%;
  height: fit-content;
  border: 1px solid #394854;
  color: #F0F2F3;
  background-color: transparent;
  border-radius: 5px;
  padding: 1% 0.5% 0.5% 1.5%;
  margin: 2.5% 0% 2.5% 0%;
}
.row .login_form button {
  margin-top: 5%;
  margin-bottom: -2%;
  border: 1px solid #394854;
  background-color: transparent;
  color: #F0F2F3;
  border-radius: 5px;
}
.row .login_form button:hover {
  background-color: #400016;
}
.row .register {
  margin: 8% 0% 0% 37.5%;
  padding: 2.5%;
}
.row .register form input {
  width: 100%;
  height: fit-content;
  border: 1px solid #394854;
  color: #F0F2F3;
  background-color: transparent;
  border-radius: 5px;
  padding: 1% 0.5% 0.5% 1.5%;
  margin: 2.5% 0% 2.5% 0%;
}
.row .register p {
  font-weight: 450;
  color: #EC1A62;
}
.row .register button {
  margin-top: 5%;
  border: 1px solid #394854;
  background-color: transparent;
  color: #F0F2F3;
  border-radius: 5px;
}
.row .register button:hover {
  background-color: #400016;
}
.row .forum {
  height: 100%;
}
.row .forum::after {
  content: "";
  clear: both;
  display: table;
}
.row .forum .forum_nav {
  background-color: #38444C;
  height: 100%;
  margin: 0;
}
.row .forum .forum_nav .forum_new {
  border-style: solid;
  border-color: #400016;
  border-width: 0px 0px 1px 0px;
  color: #F0F2F3;
  text-align: center;
}
.row .forum .forum_nav .searchfield {
  height: 96.25%;
}
.row .forum .forum_nav .searchfield input {
  height: 6%;
  width: 100%;
  margin: 0;
  padding: 0% 0% 0% 2%;
  background-color: transparent;
  border: none;
  border-style: solid;
  border-color: #400016;
  border-width: 0px 0px 1px 0px;
  color: #F0F2F3;
}
.row .forum .forum_nav .searchfield .forum_list {
  border-style: solid;
  border-color: #400016;
  border-width: 0px 0px 1px 0px;
  color: #F0F2F3;
  height: 94%;
  padding: 0% 0% 0% 5%;
}
.row .forum .forum_nav .searchfield .forum_list .forum_com {
  padding: 2.5% 0% 2.5% 5%;
  border-style: solid;
  border-color: #400016;
  border-width: 0px 0px 1px 0px;
  color: #F0F2F3;
}
.row .forum .new_community {
  height: 100%;
  color: #F0F2F3;
}
.row .forum .new_community form {
  height: fit-content;
  width: 25%;
  background-color: transparent;
  padding: 2.5%;
  margin: 11.25% 0% 0% 5%;
  border-radius: 5px;
}
.row .forum .new_community form ::placeholder {
  color: #F0F2F3;
  font-size: 1em;
}
.row .forum .new_community form span {
  font-size: 0.65em;
  margin-bottom: 5%;
  margin: 0;
}
.row .forum .new_community form label {
  font-size: 0.85em;
  margin: 0;
}
.row .forum .new_community form textarea, .row .forum .new_community form input {
  background-color: transparent;
  border: 1px solid #394854;
  color: #F0F2F3;
  padding-left: 2.5%;
  width: 95%;
  border-radius: 5px;
  resize: none;
  margin-top: 5%;
  margin-bottom: 10%;
}
.row .forum .new_community form textarea {
  min-height: 200%;
}
.row .forum .new_community form button {
  color: #F0F2F3;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #394854;
}
.row .forum .new_community form button:hover {
  background-color: #400016;
}
.row .forum .new_community .com_role_selec form {
  margin: 0;
}
.row .forum .new_community .com_role_selec .com_role_dropdown {
  z-index: 2;
  position: absolute;
  margin: -30.75% 0% 0% 29%;
  width: 12%;
  min-height: 10%;
  max-height: 80%;
}
.row .forum .new_community .com_role_selec .com_role_dropdown .com_role_dropbtn {
  width: 100%;
  z-index: 1;
  font-size: 1em;
}
.row .forum .new_community .com_role_selec .com_role_dropdown .com_role_content {
  display: none;
  background-color: #37424D;
}
.row .forum .new_community .com_role_selec .com_role_dropdown:hover .com_role_content {
  display: block;
}
.row .forum .new_community .com_role_perm {
  position: absolute;
  margin: -32.75% 0% 0% 52%;
  width: 20%;
  background-color: transparent;
  border: solid 1px #394854;
}
.row .forum .new_community .com_role_perm form {
  margin: 0;
  width: 100%;
  padding: 10%;
}
.row .forum .new_community .com_role_perm form input {
  margin: 0;
  margin-top: 2%;
  z-index: 1;
  height: 12.5px;
  width: fit-content;
  float: right;
}
.row .forum .new_community .com_role_perm form label {
  margin: 0;
  margin-top: 2.5%;
}
.row .forum .new_community .com_role_perm form input.com_role {
  padding: 5%;
  float: left;
  margin-bottom: 5%;
}
.row .forum .new_community .com_role_users {
  position: absolute;
  margin: -30.75% 0% 0% 33%;
  width: 12%;
}
.row .forum .new_community .com_role_users form {
  margin: 0;
}
.row .forum .row2 {
  background-color: transparent;
  width: 75%;
  height: 100%;
  margin-left: 25%;
}
.row .forum .row2 .new_post {
  float: right;
  margin: 2.5% 5% 0% 0%;
  background-color: transparent;
  color: #F0F2F3;
}
.row .forum .row2 .manage {
  background-color: transparent;
  position: fixed;
  float: right;
  bottom: 0;
  right: 0;
  margin: 0% 1.25% 1.25% 0%;
}
.row .forum .row2 .posts {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  margin: 0% 0% 0% 10%;
}
.row .forum .row2 .posts .forum_user_s {
  border-color: #394854;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
}
.row .forum .row2 .posts .forum_user_s label {
  margin: 0% 0% 0% 0%;
  color: #F0F2F3;
}
.row .forum .row2 .posts .forum_user_s form {
  margin: 2.5% 0% 5% 2%;
  padding: 0;
  position: relative;
}
.row .forum .row2 .posts .forum_user_s form button {
  margin: 0;
  padding: 0;
  position: relative;
}
.row .forum .row2 .posts .forum_user_s form .forum_user_select {
  max-height: 45%;
}
.row .forum .row2 .posts .forum_role_form {
  margin: 0;
  padding: 0;
  width: 100%;
}
.row .forum .row2 .posts .forum_role_form .forum_role_edit {
  margin: 5% 0% 0% 20%;
  padding: 0;
  width: 60%;
  height: fit-content;
}
.row .forum .row2 .posts .forum_role_form .forum_role_edit form {
  margin: 0;
  padding: 0;
}
.row .forum .row2 .posts .forum_role_form .forum_role_edit form button {
  height: 5%;
  width: 12.5%;
  margin: 5%;
}
.row .forum .row2 .posts .forum_role_form .forum_role_edit form .role {
  height: 6%;
  border-radius: 0px;
  margin: 0% 0% 0% 0%;
  width: 20%;
}
.row .forum .row2 .posts .forum_role_form .forum_role_edit form div {
  padding: 0;
  width: 100%;
  margin: 0% 0% 2.5% 0%;
  border-color: #394854;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}
.row .forum .row2 .posts .forum_role_form .forum_role_edit form div input {
  width: fit-content;
  float: right;
}
.row .forum .row2 .posts .delForum {
  margin: 1.5% 1.5% 0% 0%;
  background-color: transparent;
  float: right;
}
.row .forum .row2 .posts article.sgl_post {
  border-radius: 0px;
  background-color: #2B343B;
  border: none;
  color: #F0F2F3;
  margin: 0% 0% 0% 0%;
  padding: 0;
  height: fit-content;
  width: 100%;
  font-size: 0.95em;
}
.row .forum .row2 .posts article.sgl_post form {
  border-style: solid;
  border-color: #394854;
  border-width: 0px 0px 1.25px 0px;
}
.row .forum .row2 .posts article.sgl_post .content {
  padding: 2.5% 0% 5% 1%;
}
.row .forum .row2 .posts article.sgl_post .content .content {
  margin: 1.25%;
  font-size: 0.9em;
}
.row .forum .row2 .posts article.sgl_post .content .title {
  color: #F0F2F3;
  font-size: 1em;
}
.row .forum .row2 .posts article.sgl_post .add_comment {
  padding: 2%;
}
.row .forum .row2 .posts article.sgl_post .add_comment textarea {
  resize: none;
  position: relative;
  width: 85%;
  margin: 0% 0% 0% 4%;
  background-color: transparent;
  border: 1px solid #394854;
  color: #F0F2F3;
  border-radius: 5px;
}
.row .forum .row2 .posts article.sgl_post .add_comment button {
  position: relative;
  width: fit-content;
  float: right;
  margin: 5.5% 2% 0% 0%;
}
.row .forum .row2 .posts article.sgl_post .comments {
  padding: 1.25% 2% 1.25% 2%;
}
.row .forum .row2 .posts article.sgl_post .comments .comment {
  padding: 0% 0% 0% 0%;
  margin: 0.5% 0% 1% 0%;
  border: none;
  background-color: transparent;
  position: relative;
  font-size: 1em;
}
.row .forum .row2 .posts article.sgl_post .comments .user {
  position: relative;
  margin: 0% 0% 0% 1.5%;
  padding: 0;
  font-size: 0.9em;
  color: #F0F2F3;
  background-color: transparent;
}
.row .forum .row2 .posts article.sgl_post .comments .body {
  position: relative;
  margin: 0% 0% 0% 2.5%;
  padding: 0% 0% 0% 0%;
  font-size: 0.8em;
}
.row .forum .row2 .posts article {
  border-radius: 0px;
  border-style: solid;
  border-color: #394854;
  border-width: 1.25px 0px 1.25px 0px;
  background-color: #2B343B;
  color: #F0F2F3;
  margin: 2% 0% 2% 0%;
  padding: 1% 2% 1% 2%;
  height: fit-content;
  width: 100%;
  font-size: 0.95em;
}
.row .forum .row2 .posts article span {
  font-size: 0.65em;
  color: #BEBFC0;
}
.row .forum .row2 .posts article article {
  margin: 0.25% 0% 0% 2%;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  font-size: 0.9em;
}
.row .forum .row2 .posts form {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: transparent;
}
.row .forum .row2 .posts form button {
  border: 1px solid #394854;
  border-radius: 5px;
  background-color: transparent;
  color: #F0F2F3;
  margin: 3% 0% 0% -14%;
  position: fixed;
  width: 13.66667%;
}
.row .forum .row2 .posts form div {
  background-color: transparent;
  float: left;
  margin: 13% 0% 0% 12.5%;
  padding: 2.5% 0% 2.5% 3.25%;
  width: 75%;
  height: 75%;
  border: 1px solid #394854;
}
.row .forum .row2 .posts form div label {
  color: #F0F2F3;
  margin-bottom: 1.25%;
}
.row .forum .row2 .posts form div button, .row .forum .row2 .posts form div input, .row .forum .row2 .posts form div textarea {
  position: relative;
  height: fit-content;
  border: 1px solid #394854;
  background-color: transparent;
  color: #F0F2F3;
  border-radius: 5px;
  resize: none;
  width: 95%;
  margin-bottom: 2.5%;
}
.row .forum .row2 .posts form div input {
  min-height: 6%;
  max-height: 6%;
}
.row .forum .row2 .posts form div textarea {
  min-height: 75%;
  max-height: 75%;
}
.row .forum .row2 .posts form div button {
  margin: 0;
  padding: 0;
  width: 47%;
  min-height: 5%;
  max-height: 5%;
  font-size: 0.8em;
}
.row .friends {
  width: 91.67%;
  margin-left: 8.33%;
  height: 100%;
}
.row .friends .nav {
  margin: 0;
  width: 15%;
  height: 100%;
  background-color: #38444C;
}
.row .friends .nav div, .row .friends .nav span {
  color: #F0F2F3;
  border-style: solid;
  border-color: #400016;
  border-width: 0px 0px 1px 0px;
}
.row .friends .nav .friend {
  margin-left: 5%;
  padding: 2.5% 0% 1.25% 2.5%;
}
.row .friends .nav .friend:hover {
  background-color: #400016;
}
.row .friends .nav .head {
  width: 100%;
  margin: 0;
}
.row .friends .nav .ovw {
  margin: 0% 0% 0% 0%;
}
.row .friends .nav .no_border {
  border: none;
  margin-top: 3.5%;
  margin-bottom: 7.5%;
}
.row .friends .rest {
  height: 100%;
  width: 65%;
}
.row .grp_chat {
  color: #F0F2F3;
  width: 75%;
  margin: 11.25% 0% 0% 35%;
}
.row .grp_chat input {
  background-color: transparent;
  border: 1px solid #394854;
  margin-bottom: 2.5%;
}
.row .grp_chat button {
  color: #F0F2F3;
  border-color: #394854;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  margin-top: 3.5%;
}
.row .grp_chat .grp_select {
  background-color: #38444C;
  max-height: 50%;
  width: fit-content;
  padding: 0.31075% 0% 0.31075% 0%;
  margin: 0% 0% 0% 0%;
}
.row .grp_chat .grp_select button {
  padding: 7.5% 8.5% 7.5% 7.5%;
  width: 100%;
  margin: 0;
  font-size: 0.85em;
}
.row .grp_chat .grp_select button:hover {
  background-color: #400016;
}

.moveable_user {
  background-color: #EC1A62;
}

.moved_user {
  background-color: #5C6E7F;
}

.acc, .acc a {
  color: #EC1A62;
  font-style: italic;
}

.no_acc, .no_acc a {
  color: #00B210;
  font-style: italic;
}

.acc_route {
  background-image: linear-gradient(90deg, #cc6f27 20%, rgba(200, 57, 23, 0.5) 100%);
  color: #F0F2F3;
}
.acc_route button, .acc_route div, .acc_route a, .acc_route textarea, .acc_route article, .acc_route input, .acc_route span, .acc_route label, .acc_route h1, .acc_route h2, .acc_route h3, .acc_route h4, .acc_route h5, .acc_route p {
  color: #F0F2F3;
}

.premade {
  margin: 0;
}

.wrapper {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
.forum_rolename {
  width: 20%;
  border-style: solid;
  border-color: #F0F2F3;
  border-width: 0px 0px 1px 0px;
}

.forum_user_list {
  width: 25%;
}

.forum_rolename:hover {
  background-color: #400016;
}

.back_btn {
  border: 1px solid #394854;
  background-color: transparent;
  position: absolute;
  right: 18.85%;
  top: 4.15%;
  color: #F0F2F3;
  width: fit-content;
  padding: 0.5%;
  font-size: 0.9em;
}

.follow_com {
  border: 1px solid #394854;
  background-color: transparent;
  position: absolute;
  left: 26.5%;
  top: 4.15%;
  color: #F0F2F3;
  font-size: 0.95em;
}

.forum_new_role {
  border: 1px solid #394854;
  background-color: transparent;
  color: #F0F2F3;
  font-size: 0.95em;
  margin: 2.5% 0% 2.5% 2.5%;
}

.forum_role_user {
  border: 1px solid #394854;
  background-color: transparent;
  color: #F0F2F3;
  font-size: 0.95em;
  margin: 2.5% 2.5% 2.5% 0%;
  float: right;
}

.no_border {
  border: none;
}

/*# sourceMappingURL=app.css.map */
