ul.nav{
    text-align: center;
    font-size: 20px;
    list-style-type: none;
    width: 100%;
    margin-top: -0.65em;
    padding-top: 0.15em;
    padding-bottom: 0.5em;
    margin-left: -0.75em;
    background-color: #304753;
    height: fit-content;
    position: fixed;
    transition: 2s;
    border-width: 2px;
    border-style: solid;
    
}

li.nav a{
    float: left;
    margin-right: 1em;
    padding-bottom: 1em;
    margin-bottom: -0.75em;
    border-style: groove;
    border-color: black;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    color: #d26363;
    text-decoration: none;
    font-weight: bold;
}

li.nav a:hover{
    background-color: #ff6f69;
    color: white;
}

li.pita a{
    padding-left: 0.25em;
    padding-right: 0.25em;
    letter-spacing: 6px;
    position: relative;
    font-size: 30px;
    background-color: #0e2a38;
    font-weight: bolder;
}

body{
    background-color: #d2a8aa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.nav_abstand{
    padding-left:10rem;
}

div.base_background{
    position: fixed;
    overflow: auto;
    margin-top: 5.5rem;
    background-color: #f3e5e6;
    height: 85%;
    width: 85%;
    border-radius: 20px;
}

div.about_text{
    padding-left: 2.75rem;
    padding-top: 1rem;
}

div.about_text p{
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
}

div.support_ticket a{
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    text-decoration: none;
}


ul.support_ul{
    max-width: 10.5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: -0.5rem;
    padding-top: 0.6rem;
    margin-left: -0.25rem;
    width:fit-content;
    background-color: #304753;
    height: 51.85em;
    position: fixed;
    overflow: auto;
    
}


li.support_li a{
    font-size: 1.5em;
    word-wrap: break-word;
    margin-top: 10px;
    display: block;
    color: #d26363;
    font-weight: bolder;
    padding: 8px 1.3rem;
    
    
}

li.support_li:hover, li.support_li:hover a{
    color: white;
    background-color: #ff6f69;
}


p.overview::before{
    content: "Support/Overview";
    position: absolute;
    margin-left: 14.5%;
    font-size: 25px;
    font-weight: bolder;
}

div.support_inhalt{
    position: fixed;
    margin-top: 3.5%;
    margin-left: 13.5%;
    height: 67.5%;
    width: 68.5%;
    border-radius: 10px;
}

div.ovw_head{
    overflow-y:auto;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    position: sticky;
    background-color: #304753;
    border-radius: inherit;
    max-block-size: 100% 300%;
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

div.ticket_link_ovw{
    position: sticky;
    padding-bottom: 1.25em;
    background-color: white;
}

div.ticket_link_ovw a{
    text-decoration: none;
    color: 	black;
}
div.ticket_link_ovw:hover{
    transition-duration: 0.25s;
    background-color: #b6d9c2;
}

div.ticket_list_details{
    font-size: 1em;
    padding-top: 0.25em;
    margin-left: 1em;
    font-weight: bolder;
}

div.ticket_list_details .subject{
    margin-left: 1em;
    font-size: 0.95em;
    margin-top: -0.75em;
    font-weight: bold;
}
div.ticket_list_details .content{
    margin-left: 2em;
    margin-top: 0.5em;
    font-size: 0.85em;
    font-weight: normal;
}


.ticket_filter_subject{
    z-index: 3;
    margin: 0;
    position: sticky;
    margin: 0.25em 0em 0.35em 0.25em;
    border-radius: 50px;
    padding-left: 2em;
    border-color: transparent;
}

div.login_top, div.login_top a{
    position: fixed;
    margin-top: -1em;
    margin-left:-1em;
    border-bottom-right-radius: 25px;
    padding-right: 1em;
    background-color: #304753;
}
.login_register{
    list-style: none;
    width: fit-content;
    padding-right: 1em; 
    padding-bottom: 2em;
}

li.login_li a, li.login_li{
    text-align: center;
    margin-right: 1.5em;
    float: right;
}

.new_ticket{
    margin-top: 0.25em;
    margin-bottom: 1em;
    display: block;
    border-color: transparent;
    border-radius: 10px;
}

.new_ticket_btn{
    background-color: white;
    border-color: transparent;
    border-radius: 15px;
    margin-top: 5%;
}

.new_ticket.desc{
    margin-top: 0.25em;
    overflow-y: auto;
    overflow-x: hidden;
    width: 70%;
    border-radius: 10px;
    border-color: transparent;
    position: relative;
    display: block;
    padding-bottom: 2em;
    word-wrap: break-word;
}

label.new_ticket_label{
    font-weight: bold;
    position: relative;
}

div.new_ticket_heading{
    margin-bottom: 1.25em;
    font-weight: bold;
    font-size: 1.25em;
}

form.new_ticket_form{
    margin-left: 1.5em;
}