
@media only screen and (min-width: 961px){
  * {
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .row11 .col-2 ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  :focus{

      outline: none;
  }

  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #317E5B;
  }
  /*#3b8686*/

  ::-webkit-scrollbar{
      width: 0px;
      background: transparent;
  }


  .role_nav_roles_user{
      display:none;
  }

  .showdiv{
    display: block;
    text-align: center;

  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"]{
    float:left;
    padding:0;
    margin:0;
  }

  ul.nav_ul_main {
    position: fixed;
    list-style: none;
    margin: -0.5% 13% 0% -0.5%;
    font-size: 100%;
    height: 100%;
    hyphens: auto;
    background-color: #88AB25;
  }

  .nav li{
    margin: 0% 0% 5% -60%;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 0px 0px;
    padding: 2% 0% 0% 0%;
  }



  .nav ul a, .nav ul{
    color: #d53025;
    font-weight: bold;
  }

  .nav ul a{
    padding: 0% 0% 0% 13%;
  }

  .row .nav{
    background-color: #88AB25;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    position: fixed;
  }

  .row::after{
    content: "";
    clear: both;
    display: table;
  }

  .row{
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
  }

  li.pita{
    background-color: #519548;
    letter-spacing: 2px;
    font-weight: bolder;
    padding: 0% 0% 0% 16%;
    margin: 0% 0% 0% -90%;
    font-size: 120%;
    text-align: center;
  }

  .nav li:hover a, .nav li:hover{
    color: white;
    background-color: #d53025;
  }

  li.wlcm_user{
    float: right;
    position: absolute;
    width: 8.3%;
    margin: 60% 0% 0% -40%;
    padding: 0% 95% 0% 13%;
  }

  .row2 .col-10{
    position: fixed;
    height: 102%;
    background-color: white;
    z-index: -1;
    margin: -1% 0% 0% 12.5%;
    padding: 2%;
    font-size: 1em;
  }

  .row3 .col-2{
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    float: left;
    height: 92%;
    background-color: rgba(209,213,220,0.5);
    border-radius: 5px;
  }

  .row3 .col-2 button:hover{
    background-color: rgba(73,74,76,0.75);
  }

  .row3 .col-2 button{
    width: 100%;
    margin: 5px 0px 0px 0px;
    border:none;
    background-color: #c5d5db;
  }

  .row3 .col-2 div{
    border-style: solid;
    border-color: rgba(73,74,76,0.75);
    border-width: 0.25px 0px 0.5px 0px;
  }

  .spacer{
    position: fixed;
    height: 90%;
    width: 1%;
    border-color: grey;
    border-style: dotted;
    border-width: 0px 2px 0px 0px;
    margin: 1.25% 0% 0% 51%;
  }

  .spacer2{
    position: fixed;
    height: 90%;
    width: 1%;
    border-color: grey;
    border-style: dotted;
    border-width: 0px 2px 0px 0px;
    margin: 1.25% 0% 0% 20%;
  }

  .row4 .col-2 {
    position: fixed;
    height: 4%;
    background-color: #aabcc3;
    margin: 5% 0% 0% 28.25%;
  }

  .dropdown{
    display: inline-block;
  }

  .role_dropbtn{
    width: 100%;
    border:none;
    background-color: #c5d5db;
  }

  .drop_content{
    margin: 1.9% 0% 0% 0%;
    padding: 0% 2% 2% 2%;
    background-color: #c5d5db;
    display: none;
  }

  .drop_content a:hover{
    background-color: #aabcc3;
  }

  .dropdown:hover .drop_content{
    display: block;
  }

  ._one{
    background-color: #c5d5db;
  }

  ._two{
    background-color: #aabcc3;
  }

  .row5 .col-2{
    position: absolute;
    margin: 11% 0% 0% 72%;
  }

  .row5 .col-2 input{
    float: right;
  }

  .rolename{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #aabcc3;
    border: none;
    padding: 2% 1% 2% 2%;
  }

  .row5 .col-2 div{
    margin: 2%;
    padding: 3%;
  }

  .row5 .col-2 button{
    border: none;
    background-color: #c5d5db;
  }

  .row5 .col-2 {
    position: fixed;
    height: 0;
    background-color: #aabcc3;
    margin: 5% 0% 0% 58.75%;
  }

  .row6 .col-2{
    max-height: 50%;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 15% 0% 0% 59%;
    background-color: #c5d5db;
  }

  .row6 .col-2 button{
    width: 100%;
    margin: 2% 0% 0% 0%;
    padding: 1%;
    background-color: #c5d5db;
    border-style: solid;
    border-width: 0px 0px 0.5px 0px;
    border-color: rgba(73,74,76,0.75);
  }

  .row6 .col-2 div{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }

  .moveable_user{
    color: red;
    background-color: white;
  }

  button.moved_user{
    color: white;
  }

  .row7 .col-2{
    position: fixed;
    margin: 5% 0% 0% 59%;
    height: 4.1%;
    background-color: #aabcc3;
  }

  .row7 .col-2 button{
    width: 100%;
    margin: 0% 0% 0% 0%;
    padding: 0.5%;
    background-color: #c5d5db;
    border-style: solid;
    border-width: 0px 0px 0.5px 0px;
    border-color: rgba(73,74,76,0.75);
  }

  .row7 .col-2 button:hover{
    background-color: #aabcc3;
  }

  .row8 .col-2{
    position: fixed;
    height: fit-content;
    text-align: center;
    background-color: #1E8E8E;
    padding: 2%;
    margin: 12% 0% 0% 31%;
    border-radius: 5px;
  }

  .row8 .col-2 input{
    border-radius: 5px;
    border: none;
    margin: 0% 0% 5% 0%;
    width: 80%;
    padding: 6% 2% 6% 4%;
    height: fit-content;
  }

  .row8 .col-2 button{
    border-radius: 5px;
    border:none;
    margin: 0% 4% 0% 4%;
  }

  .row9 .col-2 {
    position: fixed;
    height: fit-content;
    text-align: center;
    background-color: #1E8E8E;
    padding: 2%;
    margin: 7% 0% 0% 31%;
    border-radius: 5px;
  }

  .row9 .col-2 input{
    border-radius: 5px;
    border: none;
    margin: 0% 0% 5% 0%;
    width: 80%;
    padding: 6% 2% 6% 4%;
    height: fit-content;
  }

  .row9 .col-2 button{
    border-radius: 5px;
    border:none;
    margin: 0% 4% 0% 4%;
  }

  .row10 .col-8{
    position: fixed;
    margin: 3% 0% 0% 6.375%;
    padding:2%;
    background-color: #c5d5db;
    height: 80%;
    border-radius: 5px;
  }

  .row10 .col-8 p{
    font-size: 1.15em;
    font-weight: 550;
  }

  .row10 .col-8 div{
    font-size: 0.95em;
    font-weight: 425;
  }

  .row11 .col-2{
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(73,74,76,0.5);
    height: 100%;
    margin: -2% 0% 0% -2.4%;
    padding: 1% 0% 0% 1.5%;
    float: left;
  }

  .row11 .col-2 div{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(73,74,76,0.75);
  }

  li.underline_bottom{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(73,74,76,0.75);
  }

  .row11 .col-2 li:hover{
    background-color: #6b6b65;
  }

  .row12 .col-2{
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: fit-content;
    margin: 1% 0% 0% 80%;
    padding: 0% 0% 0% 0%;
    float: left;
  }

  .row12 .col-2 button{
    border:none;
    background-color: #aabcc3;
    border-radius: 5px;
    padding: 2%;
  }

  .row13 .col-8{
    background-color: grey;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 35%;
    max-height: 70%;
    margin: 6% 0% 0% 22.5%;
    padding: 0.5% 0.25% 0.5% 0.25%;
    float: left;
    border-radius: 10px;
  }

  .row13 .col-8 article{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 1.5% 1% 1.5% 1%;
    margin-top: 0.5%;
  }

  .row13 .col-8 article:hover{
    background-color: #bebcc0;
  }

  .row14 .col-9{
    border-radius: 5px;
    height: fit-content;
    margin: 1% 0% 0% 21.5%;
    background-color: rgba(73,74,76,0.5);
    padding: 3%;
  }

  .row14 .col-9 input{
    margin: 0% 0% 2% 0%;
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
    padding: 0.6%;
  }

  .row14 .col-9 textarea{
    font-size: 1em;
    border: none;
    resize: none;
    border-radius: 5px;
    padding: 1%;
  }

  .row14 .col-9 label{
    margin: 0% 0% 0% 0%;
    font-size: 1.1em;
  }

  .row14 .col-9 button{
    border:none;
    margin: 3% 0% 0% 0%;
    background-color: white;
    border-radius: 5px;
  }

  .row15 .col-2{
    position: fixed;
    margin: 0.25% 0% 0% 71.75%;
  }

  .row15 .col-2 button{
    border: none;
    background-color: #c5d5db;
    border-radius: 5px;
  }

  .row16 .col-7{
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #aabcc3;
    margin: 5% 0% 0% 17.5%;
    height: 87%;
    padding: 2% 3% 4% 2%;
    border-radius: 5px;
  }

  form.sgl_ptch{
    width: 100%;
    border-radius: 5px;
    height: fit-content;
    background-color: #c5d5db;
    padding: 2%;
    margin-bottom: 4%;
  }

  .row17 {
    width: 100%;
    margin-bottom: 4%;
    background-color: #c5d5db;
    padding: 2%;
    border-radius: 5px;
  }

  .row17 textarea{
    resize: none;
    border-radius: 5px;
    margin: 1% 0% 2% 0%;
  }

  .row17 button{
    background-color: white;
    border:none;
    border-radius: 5px;
  }

  .cmt_list{
    width: 100%;
    background-color: #c5d5db;
    padding: 2%;
    border-radius: 5px;
  }

  .cmt_frame{
    background-color: rgba(73,74,76,0.25);
    padding: 2%;
    border-radius: 10px;
  }

  .cmt_list div{
    margin-bottom: 2%;
  }

  


}
