  html, body{
    margin:0;
    padding:0;
    height: 100%;
  }


  $font-clr: #F0F2F3;
  //$hover-clr: #EC1A62;
  $hover-clr: #400016;
  $nav-clr: #38444C;
  $nav-div-clr: #5C6E7F;
  $outline-clr: #394854;
  $nav-alt-clr: #37424D;
  $body-clr: #293238;
  $accent-clr: #EC1A62;
  $no-accent-clr: #00B210;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $accent-clr;
    transition: background-color 5000s ease-in-out 0s;
  }

  .rolename{
    color: $font-clr;
    max-width: 100%;
    background-color: transparent;
    border: solid 1px $outline-clr;
    height: fit-content;
    width: 100%;
    padding: 4% 3% 4% 3%;
  }

  * {
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .ember-view{
    height: 100%;
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  :focus{

      outline: none;
  }

  /*#3b8686*/

  ::-webkit-scrollbar{
      width: 0px;
      background: transparent;
  }

  body{
    font-family: 'Trebuchet MS', sans-serif, monospace;
    background-color: $body-clr;
  }

  .role_nav_roles_user{
      display:none;
  }

  .showdiv{
    display: block;
    text-align: center;
  }

  .scrollable{
    overflow-x: hidden;
    overflow-y: auto;
  }

  .bg_nav{
    background-color: $nav-clr;
    color:$font-clr;
  }

  .bg_nav_div{
    background-color: $nav-div-clr;
    color: $font-clr;
  }

  .outline_l{
    border-color: $outline-clr;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
  }

  .outline_r{
    border-color: $outline-clr;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
  }

  .outline_l_r{
    border-color: $outline-clr;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
  }

  .outline_b_s{
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: $outline-clr;
  }

  .outline_t_b_s{
    border-color: $outline-clr;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
  }

  .outline_4_d{
    border-color: $outline-clr;
    border-style: dashed;
    border-width: 1px;
  }

  .outline_4_s{
    border-color: $outline-clr;
    border-style: solid;
    border-width: 1px;
  }

  .button_style{
    color: black;
    background-color: white;
    border-radius: 5px;
    border:none;
  }

  .bg_nav_div a,.bg_nav a{
    color: $font-clr;
  }

  .bg_nav_div button,.bg_nav button{
    color: $font-clr;
  }

  .bg_nav_div div,.bg_nav div{
    color: $font-clr;
  }

  .bg_nav_div button a,.bg_nav button a{
    color: $font-clr;
  }

  .outline_t_b_l{
    border-color: $outline-clr;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
  }


  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"]{
    float:left;
    padding:0;
    margin:0;
  }

  #pita{
    text-align: center;
    font-weight: 650;
    background-color: $accent-clr;
    padding: 0% 0% 0% -1%;
    color: $font-clr;
    margin-top: 7.5%;
    font-size: 1.2em;
    letter-spacing: 3px;
  }

//Generelle seite, alles in einer reihe
  .row{
    &::after{
      content: "";
      clear:both;
      display: table;
    }

    font-size: 1.25vw;
    height: 100%;
    background-color: transparent;

    .col-1{
      height: 100%;
      div{
        margin-bottom: 7.5%;
        margin-left: 10%;
      }
      div:hover{
        background-color: $hover-clr;
      }
    }

    .col-10{
      min-height: 100%;
      margin-left: 1.25%;
      padding: 2.5%;
      color: $font-clr;

      a{
        color: $accent-clr;
      }

      div{
        border-radius: 5px;
        padding: 2.5%;
        font-weight: 440;
      }
    }


      ::placeholder{
        font-size: 0.95em;
      }

      &::after{
        content: "";
        clear:both;
        display: table;
      }
      height: 100%;
      width: 100%;

      .col-2{
        margin: 10% 5% 5% 5%;
      }

      .support{
        margin:0;
        height: 100%;
      }

      .support div:hover{
        background-color: $hover-clr;
      }

      .support_nav_h{
        background-color: $accent-clr;
        text-align: center;
        margin: 0;
      }

      .user_ovw_roles{
        margin: 10% 5% 5% 5%;
        height: 70%;
        border-radius: 5px;
      }

      .col-2 button{
        border:none;
        width: 100%;
        font-size: 0.95em;
        margin-bottom: 2.5%;
      }

      .col-2 button:hover{
        background-color: $hover-clr;
      }

      .dropdown{
        display: inline-block;
      }

      .drop_content{
        display: none;
      }

      .dropdown:hover{
        .drop_content{
          display: block;
        }
      }

      .drop_content a div:hover{
        background-color: $hover-clr;
      }

      .col-2 form{
        margin-top: 10%;
      }

      .col-2 form div{
        margin-bottom: 2.5%;
      }

      .col-2 form input{
        float: right;
        z-index: 1;
        height: 1vw;
      }

      .save button{
        margin-top: 5%;
        font-size: 0.95em;
        border: 1.5px solid $outline-clr;
        border-radius: 5px;
        background-color: transparent;
      }


      .role {
        //margin-top: 11.7%;


      }
      .user{
        width: 16%;
        position: fixed;
        margin: 22.5% 0% 0% 67%;
        background-color: $nav-clr;
        color: $font-clr;
        min-height: 42.5%;
        max-height: 45%;
        border-radius: 0px 0px 5px 5px;

        button{
          width: 100%;
          color: $font-clr;
          border-style: solid;
          border-color: $outline-clr;
          border-width: 1px 0px 1px 0px;
        }
      }

      .col-7{
        min-height: 25%;
        max-height: 60%;
        margin: 10% 0% 0% 7%;
        font-size: 0.95em;
        .t_id{
          font-size: 0.85em;
        }

        input{
          color: $font-clr;
          background-color: transparent;
          border-color: $outline-clr;
          border-style: double;
          border-width: 0px 0px 1.5px 0px;
        }

        article{
          background-color: $nav-div-clr;
          border-radius: 10px;
          margin-bottom: 0.25%;
        }

        article:hover{
          background-color: $hover-clr;
        }

      }

      .col-4{
        margin: 12.75% 0% 0% 18.25%;
        padding: 2.5%;

        textarea{
          resize: none;
          color: $font-clr;
          border: 1px solid $outline-clr;
        }

        input{
          color: $font-clr;
          border: 1px solid $outline-clr;
        }
      }

      .patches{
        margin: 0;
        height: 100%;

        #patch_ovw{
          background-color: $accent-clr;
        }

        #patch_ovw:hover{
          background-color: $hover-clr;
        }

        .ember-view{
          height: 11%;
        }

        article{
          background-color: $nav-div-clr;
        }
        article:hover{
          background-color: $hover-clr;
        }

      }

      .patch_bl{
        margin: 0;
        float: right;

        button{
          float: left;
          color: $font-clr;
          background-color: transparent;
          border-style: solid;
          border-width: 1px;
          border-color: $outline-clr;
        }
      }

      .patch_bl_ls{
        margin: 5.25% 0% 0% 4.5%;
        max-height: 70%;
        min-height: 25%;
        border-radius: 10px;
        article{
          border-radius: 10px;
          padding: 2.5%;
          font-size: 85%;
          margin: 0.5% 0% 0% 0%;
        }
        article:hover{
          background-color: $hover-clr;
        }

      }

      .patch_form{
        margin: 8.675% 0% 0% 9.125%;
        width: fit-content;
        padding: 2%;

        input, textarea, button{
          resize: none;
          border: solid 1px $outline-clr;
          background-color: transparent;
          border-radius: 5px;
          color: $font-clr;
        }
        label{
          color: $font-clr;
        }
      }

      .del_patch{
        float: right;
        margin: 0% 0% 0% 0%;

        button{
          background-color: transparent;
          border: 1px solid $outline-clr;
          color: $font-clr;
        }
        button:hover{
          background-color: $hover-clr;
        }
      }

      .sgl_ptch{
        margin: 1.5% 0% 0% 8.25%;
        padding: 0.25%;
        color: $font-clr;
        min-height: 30%;
        max-height: 85%;

        form{
          padding: 2.5%;
          margin-bottom: 1%;
        }

        .patch_comment{
          margin-bottom: 1%;
          padding: 2.5%;

          textarea{
            color: $font-clr;
            background-color: transparent;
            border: 1px solid $outline-clr;
            resize: none;
            border-radius: 5px;
          }

          button{
            background-color: transparent;
            color: $font-clr;
            border-radius: 5px;
          }
          button:hover{
            background-color: $hover-clr;
          }
        }

        .cmt_frame{
          padding: 1.25%;
        }

      }

        .login_form{
          &::after{
            content: "";
            clear:both;
            display: table;
          }

          border: 1px dashed $outline-clr;
          padding: 2.5%;
          color: $font-clr;
          margin: 12.5% 0% 0% 0.5*75%;
          border-radius: 5px;

          form p{
            color: $accent-clr;
            font-weight: 450;
          }

          form input{
            width: 100%;
            height: fit-content;
            border: 1px solid $outline-clr;
            color: $font-clr;
            background-color: transparent;
            border-radius: 5px;
            padding: 1% 0.5% 0.5% 1.5%;
            margin: 2.5% 0% 2.5% 0%;
          }

          button{
            margin-top: 5%;
            margin-bottom: -2%;
            border: 1px solid $outline-clr;
            background-color: transparent;
            color: $font-clr;
            border-radius: 5px;
          }

          button:hover{
            background-color: $hover-clr;
          }
      }

      .register{
        margin:8% 0% 0% 0.5*75%;
        padding: 2.5%;

        form input{
          width: 100%;
          height: fit-content;
          border: 1px solid $outline-clr;
          color: $font-clr;
          background-color: transparent;
          border-radius: 5px;
          padding: 1% 0.5% 0.5% 1.5%;
          margin: 2.5% 0% 2.5% 0%;
        }

        p{
          font-weight: 450;
          color: $accent-clr;
        }

        button{
          margin-top: 5%;
          border: 1px solid $outline-clr;
          background-color: transparent;
          color: $font-clr;
          border-radius: 5px;
        }

        button:hover{
          background-color: $hover-clr;
        }
      }



    .forum{
      &::after{
        content: "";
        clear:both;
        display: table;
      }
      height: 100%;

      .forum_nav{
        background-color: $nav-clr;
        height: 100%;
        margin:0;

        .forum_new{
          border-style: solid;
          border-color: $hover-clr;
          border-width: 0px 0px 1px 0px;
          color: $font-clr;
          text-align: center;
         }

        .searchfield{
          height: 96.25%;

          input{
            height: 6%;
            width: 100%;
            margin: 0;
            padding: 0% 0% 0% 2%;
            background-color: transparent;
            border:none;

            border-style: solid;
            border-color: $hover-clr;
            border-width: 0px 0px 1px 0px;
            color: $font-clr;
          }

          .forum_list{
              border-style: solid;
              border-color: $hover-clr;
              border-width: 0px 0px 1px 0px;
              color: $font-clr;
              height: 94%;
              padding: 0% 0% 0% 5%;

              .forum_com{
                padding: 2.5% 0% 2.5% 5%;
                border-style: solid;
                border-color: $hover-clr;
                border-width: 0px 0px 1px 0px;
                color: $font-clr;
              }
          }
        }
      }

      .new_community{
        height: 100%;
        color: $font-clr;

        form{
          height: fit-content;
          width: 25%;
          background-color: transparent;
          padding: 2.5%;
          margin: 11.25% 0% 0% 5%;
          border-radius: 5px;

          ::placeholder{
            color: $font-clr;
            font-size: 1em;
          }

          span{
            font-size: 0.65em;
            margin-bottom: 5%;
            margin: 0;
          }

          label{
            font-size: 0.85em;
            margin: 0;
          }
          textarea,input{
            background-color: transparent;
            border: 1px solid $outline-clr;
            color: $font-clr;
            padding-left: 2.5%;
            width: 95%;
            border-radius: 5px;
            resize: none;
            margin-top: 5%;
            margin-bottom: 10%;
          }

          textarea{
            min-height: 200%;
          }

          button{
            color: $font-clr;
            border-radius: 5px;
            background-color: transparent;
            border: 1px solid $outline-clr;
          }

          button:hover{
            background-color: $hover-clr;
          }
        }

        .com_role_selec{
          form{
            margin: 0;
          }

          .com_role_dropdown{
            z-index: 2;
            position: absolute;
            margin: -30.75% 0% 0% 29%;
            width: 12%;
            min-height: 10%;
            max-height: 80%;

            .com_role_dropbtn{
              width: 100%;
              z-index: 1;
              font-size: 1em;
            }

            .com_role_content{
              display: none;
              background-color: $nav-alt-clr;
            }
          }

          .com_role_dropdown:hover{
            .com_role_content{
              display: block;
            }
          }
        }

        .com_role_perm{
          position: absolute;
          margin: -32.75% 0% 0% 52%;
          width: 20%;
          background-color: transparent;
          border: solid 1px $outline-clr;

          form{
            margin: 0;
            width: 100%;
            padding: 10%;

            input{
              margin: 0;
              margin-top: 2%;
              z-index: 1;
              height: 12.5px;
              width: fit-content;
              float: right;
            }

            label{
              margin: 0;
              margin-top: 2.5%;
            }

            input.com_role{
              padding: 5%;
              float: left;
              margin-bottom: 5%;
            }
          }


        }

        .com_role_users{
          position: absolute;
          margin: -30.75% 0% 0% 33%;
          width: 12%;

          form{
            margin: 0;
          }
        }
      }

      .row2{
        background-color: transparent;
        width: 75%;
        height: 100%;
        margin-left: 25%;

        .new_post{
          float: right;
          margin: 2.5% 5% 0% 0%;
          background-color: transparent;
          color: $font-clr;
        }

        .manage{
          background-color: transparent;
          position: fixed;
          float: right;
          bottom: 0;
          right: 0;
          margin: 0% 1.25% 1.25% 0%;
        }

        .posts{
          min-height: 100%;
          max-height: 100%;
          height: 100%;
          margin: 0% 0% 0% 10%;


          .forum_user_s{
            border-color: $outline-clr;
            border-width: 1px 0px 0px 0px;
            border-style: solid;
            label{
              margin: 0% 0% 0% 0%;
              color: $font-clr;
            }
            form{
              margin: 2.5% 0% 5% 2%;
              padding: 0;
              position: relative;

              button{
                margin: 0;
                padding: 0;
                position: relative;
              }

              .forum_user_select{
                max-height: 45%;
              }

            }
          }

          .forum_role_form{
            margin: 0;
            padding: 0;

            width: 100%;

            .forum_role_edit{
              margin:5% 0% 0% 20%;
              padding: 0;

              width: 60%;
              height: fit-content;

              form{
                margin:0;
                padding: 0;

                button{
                  height: 5%;
                  width: 12.5%;
                  margin: 5%;
                }

                .role{
                  height: 6%;
                  border-radius: 0px;
                  margin: 0% 0% 0% 0%;
                  width: 20%;
                }

                div{
                  padding: 0;
                  width: 100%;
                  margin: 0% 0% 2.5% 0%;
                  border-color: $outline-clr;
                  border-style: solid;
                  border-width: 1px 0px 1px 0px;

                  input{
                    width: fit-content;
                    float: right;
                  }
                }
              }
            }
          }

          .delForum{
            margin: 1.5% 1.5% 0% 0%;
            background-color: transparent;
            float: right;
          }

          article.sgl_post{
            border-radius: 0px;
            background-color: #2B343B;
            border: none;
            color: $font-clr;
            margin: 0% 0% 0% 0%;
            padding: 0;
            height: fit-content;
            width: 100%;
            font-size: 0.95em;

            form{
              border-style: solid;
              border-color: $outline-clr;
              border-width: 0px 0px 1.25px 0px;
            }

            .content{
              padding: 2.5% 0% 5% 1%;

              .content{
                margin: 1.25%;
                font-size: 0.9em;
              }
              .title{
                color: $font-clr;
                font-size: 1em;
              }
            }
            .add_comment{
              padding: 2%;

              textarea{
                resize: none;
                position: relative;
                width: 85%;
                margin: 0% 0% 0% 4%;
                background-color: transparent;
                border: 1px solid $outline-clr;
                color: $font-clr;
                border-radius: 5px;
              }

              button{
                position: relative;
                width: fit-content;
                float: right;
                margin: 5.5% 2% 0% 0%;
              }
            }
            .comments{
              padding: 1.25% 2% 1.25% 2%;

              .comment{
                padding: 0% 0% 0% 0%;
                margin: 0.5% 0% 1% 0%;
                border:none;
                background-color: transparent;
                position: relative;
                font-size: 1em;
              }

              .user{
                position: relative;
                margin: 0% 0% 0% 1.5%;
                padding: 0;
                font-size: 0.9em;
                color: $font-clr;
                background-color: transparent;
              }
              .body{
                position: relative;
                margin: 0% 0% 0% 2.5%;
                padding: 0% 0% 0% 0%;
                font-size: 0.8em;
              }
            }
          }

          article{
            border-radius: 0px;
            border-style: solid;
            border-color: $outline-clr;
            border-width: 1.25px 0px 1.25px 0px ;
            background-color: #2B343B;
            color: $font-clr;
            margin: 2% 0% 2% 0%;
            padding: 1% 2% 1% 2%;
            height: fit-content;
            width: 100%;
            font-size: 0.95em;

            span{
              font-size: 0.65em;
              color: #BEBFC0;
            }
            article{
              margin: 0.25% 0% 0% 2%;
              padding:0;
              background-color: transparent;
              border:none;
              border-radius: 0px;
              font-size: 0.9em;
            }
          }

          form{
            width: 100%;
            min-height: 100%;
            height: 100%;
            background-color: transparent;

            button{
              border: 1px solid $outline-clr;
              border-radius: 5px;
              background-color: transparent;
              color: $font-clr;
              margin: 3% 0% 0% -14%;
              position: fixed;
              width: 13.66667%;
            }

            div{
              background-color: transparent;
              float: left;
              margin: 13% 0% 0% 12.5%;
              padding:2.5% 0% 2.5% 3.25%;
              width: 75%;
              height: 75%;
              border: 1px solid $outline-clr;

              label{
                color: $font-clr;
                margin-bottom: 1.25%;
              }

              button,input,textarea{
                position: relative;
                height: fit-content;
                border: 1px solid $outline-clr;
                background-color: transparent;
                color: $font-clr;
                border-radius: 5px;
                resize: none;
                width: 95%;
                margin-bottom: 2.5%;
              }

              input{
                min-height: 6%;
                max-height: 6%;
              }

              textarea{
                min-height: 75%;
                max-height: 75%;
              }

              button{
                margin: 0;
                padding: 0;
                width: 47%;
                min-height: 5%;
                max-height: 5%;
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }

    .friends{
      width: 91.67%;
      margin-left: 8.33%;
      height: 100%;

      .nav{
        margin: 0;
        width: 15%;
        height: 100%;
        background-color: $nav-clr;
        div,span{
          color: $font-clr;
          border-style: solid;
          border-color: $hover-clr;
          border-width: 0px 0px 1px 0px;
        }
        .friend{
          margin-left: 5%;
          padding: 2.5% 0% 1.25% 2.5%;
        }
        .friend:hover{
          background-color: $hover-clr;
        }
        .head{
          width: 100%;
          margin: 0;
        }
        .ovw{
          margin: 0% 0% 0% 0%;
        }
        .no_border{
          border:none;
          margin-top: 3.5%;
          margin-bottom: 7.5%;
        }
      }

      .rest{
        height: 100%;
        width: 65%;
      }
    }

    .grp_chat{
      color: $font-clr;
      width: 75%;
      margin: 11.25% 0% 0% 35%;

      input{
        background-color: transparent;
        border: 1px solid $outline-clr;
        margin-bottom: 2.5%;
      }

      button{
        color: $font-clr;
        border-color: $outline-clr;
        border-style: solid;
        border-width: 1px;
        background-color: transparent;
        margin-top: 3.5%;
      }

      .grp_select{
        background-color: $nav-clr;
        max-height: 50%;
        width: fit-content;
        padding: 0.31075% 0% 0.31075% 0%;
        margin: 0% 0% 0% 0%;

        button{
          padding: 7.5% 8.5% 7.5% 7.5%;
          width: 100%;
          margin: 0;
          font-size: 0.85em;
        }
        button:hover{
          background-color: $hover-clr;
        }
      }
    }

  }
  //^-Row ende


  .moveable_user{
    background-color: $accent-clr;
  }
  .moved_user{
    background-color: $nav-div-clr;
  }

  .acc, .acc a{
    color: $accent-clr;
    font-style: italic;
  }

  .no_acc, .no_acc a{
    color: $no-accent-clr;
    font-style: italic;
  }

  .acc_route{
    background-image: linear-gradient(90deg, rgba(204, 111, 39, 1) 20%, rgba(200, 57, 23, 0.5) 100%);
    color: $font-clr;
    button, div, a, textarea, article, input, span, label, h1, h2, h3, h4, h5, p{
      color: $font-clr;
    }
  }

  .premade{
    margin: 0;
  }


$rainbow-time: 10s;

  .wrapper {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow $rainbow-time ease infinite;
-z-animation: rainbow $rainbow-time ease infinite;
-o-animation: rainbow $rainbow-time ease infinite;
  animation: rainbow $rainbow-time ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.forum_rolename{
  width: 20%;
  border-style: solid;
  border-color: $font-clr;
  border-width: 0px 0px 1px 0px;
}

.forum_user_list{
  width: 25%;
}

.forum_rolename:hover{
  background-color: $hover-clr;
}

.back_btn{
  border: 1px solid $outline-clr;
  background-color: transparent;
  position: absolute;
  right: 18.85%;
  top: 4.15%;
  color: $font-clr;
  width: fit-content;
  padding: 0.5%;
  font-size: 0.9em;
}

.follow_com{

    border: 1px solid $outline-clr;
    background-color: transparent;
    position: absolute;
    left: 26.5%;
    top: 4.15%;
    color: $font-clr;
    font-size: 0.95em;
}

.forum_new_role{
    border: 1px solid $outline-clr;
    background-color: transparent;
    color: $font-clr;
    font-size: 0.95em;
    margin: 2.5% 0% 2.5% 2.5%;
}

.forum_role_user{
  border: 1px solid $outline-clr;
  background-color: transparent;
  color: $font-clr;
  font-size: 0.95em;
  margin: 2.5% 2.5% 2.5% 0%;
  float: right;
}

.no_border{
  border:none
}
