<div class="row19">
    <div class="col-7 scrollable bg_nav outline_r">

    {{#ticket-filter model=model filter=(action "filterBySubject") as |filteredTickets|}}
        {{#each filteredTickets as |ticketUnit|}}
            {{ticket-listing ticket=ticketUnit}}
        {{/each}}
    {{/ticket-filter}}
    {{outlet}}

    </div>
</div>
