<div class="row6">
  <div class="col-6">
    <form>

        <div>
            <label> Version </label><br>
              {{input type="text" rqeuired=true value=version placeholder="Version"}}

        </div>
        <div>
            <label> Focus </label><br>
              {{input type="text" rqeuired=true value=focus placeholder="Focus"}}

        </div>
        <div>
            <label> Content of Patch</label><br>
              {{textarea cols="40" rows="4" rqeuired=true value=details placeholder="Content"}}
        </div>
        <button {{action "newPatch"}} >Create Patch</button>

    </form>
  </div>
</div>
