<div class="row">
  <div class="col-9 outline_4_d patch_form">
    <form>

        <div>
            <label> Version </label><br>
              {{input class="outline_4_s" type="text" required=true value=version placeholder="Version"}}

        </div>
        <div>
            <label> Focus </label><br>
              {{input class="outline_4_s" type="text" required=true value=focus placeholder="Focus"}}

        </div>
        <div>
            <label> Content of Patch</label><br>
              {{textarea class="outline_4_s" cols="103" rows="15" required=true value=details placeholder="Content"}}
        </div>
        <button class="button_style" {{action "newPatch"}} >Create Patch</button>

    </form>
  </div>
</div>
