<div class="row4">
    {{#if (and auth.user.role.managepatch session.isAuthenticated)}}
    <button {{action "gotoNew"}}>Create new Patch-Note</button>
    {{/if}}
</div>
<div class="row5">
    <div class="col-7 patch_ovw">
      {{#each model as |patch|}}
        {{patch-list patch=patch}}
      {{/each}}
      {{outlet}}
</div>
</div>
