
    <div class="col-2 patch_bl">
        {{#if (and auth.user.role.managepatch session.isAuthenticated)}}
        <button {{action "gotoNew"}}>Create new Patch-Note</button>
        {{/if}}
    </div>
    <div class="col-8 bg_nav scrollable patch_bl_ls">
      <div>
          {{#each model as |patch|}}
            {{patch-list patch=patch}}
            {{else}}
            No patches available
          {{/each}}
        {{outlet}}
      </div>
    </div>
