
    {{#user-filter class="" model=model.users filter=(action "searchUser") as |user|}}

    {{#each user as |res|}}
      <div class="">
        Name: {{res.username}}<br>
        Role: {{res.role.rolename}}
          <button class="" {{action "sendFQ" res}}>Send request</button>
      </div>
    {{/each}}

    {{/user-filter}}
