<div class="row24">
  <div class="col-7">
    {{#user-filter model=model filter=(action "searchUser") class="filter_user" as |user|}}

    {{#each user as |res|}}
    <div class="add_ul">
    <button class="user_selection">
    Name: {{res.username}}<br>
    Role: {{res.role.rolename}}
    </button>
    </div>
    {{/each}}

    {{/user-filter}}
  </div>
</div>
