  <div class="col-10 about outline_l_r">
    <div class="outline_4_d">
      <p>About us</p>
            {{model.abt_txt}}
          <br>
          <br>
          <br>
          <br>
          Tel.: +49 123456789
          <br>
          <br>
          <a href="mailto:testmail@test.test987678767876868765433z">Direct contact</a>
          <br>
          <br>
    </div>
  </div>
