<div class="nav_abstand">


        <div class="about_text">
            <p class="about_heading">About us</p>
            <div class="about_text_container">
              {{model.abt_txt}}
              <br>
              <br>
              <br>
              <br>
              Tel.: +49 123456789
              <br>
              <br>
              <a href="mailto:testmail@test.test987678767876868765433z">Direct contact</a>
              <br>
              <br>
              {{#link-to "support.new"}}Support{{/link-to}}
              <br>
            </div>
        </div>



</div>
