<div>
    <header>
    <div>
       <div>
           

           <ul class="nav">

            <li class="pita nav">

                 {{#link-to "index" class="pita"}}
                      PITA
                  {{/link-to}}
            </li>

            <li class="nav"> 
                {{#link-to "forum" }}
                  Forum
                {{/link-to}}
            </li>
            <li class="nav">
                 {{#link-to "patches"}}
                   Patches
                  {{/link-to}}
            </li>
            <li class="nav">
                 {{#link-to "about"}}
                   About us
                  {{/link-to}}
            </li> 
            <li class="nav">
                 {{#link-to "support.overview"}}
                   Support
                  {{/link-to}}
            </li>
            {{#if this.login_bool}}
            
                <li class="login_li nav"> 
                    Welcome, Test-user
                </li>
                <li class="login_li nav">
                    Log out
                </li>
            {{else}}
                 <li class="login_li nav">
                   {{#link-to "createaccount"}} Register {{/link-to}}
                 </li>
                 <li class="login_li nav">
                   {{#link-to "login"}} Log in {{/link-to}} 
                 </li>
            {{/if}}

            </ul>
        
        </div>

    </div>
    </header>

    <div class="body">
      {{outlet}}
    </div>
</div>