<div>

    <div>
        <div class="login_top">
            {{#if this.login_bool}}
            <ul class="login_register">
                <li class="login_li"> 
                Welcome, Text-user
                </li>
                <li class="login_li">
                    Log out
                </li>
            </ul>
            {{else}}
             <ul class="login_register">
                 <li class="login_li">
                    Register
                 </li>
                 <li class="login_li">
                    Log in
                 </li>
             </ul>
            {{/if}}
        </div>
       <div>

           <ul class="nav">

            <li class="pita nav">

                 {{#link-to "index" class="pita"}}
                      PITA
                  {{/link-to}}
            </li>

            <li class="nav"> 
                {{#link-to "forum" }}
                  Forum
                {{/link-to}}
            </li>
            <li class="nav">
                 {{#link-to "patches"}}
                   Patches
                  {{/link-to}}
            </li>
            <li class="nav">
                 {{#link-to "about"}}
                   About us
                  {{/link-to}}
            </li> 
            <li class="nav">
                 {{#link-to "support"}}
                   Support
                  {{/link-to}}
            </li>

            </ul>
        
        </div>

    </div>

    <div class="body">
      {{outlet}}
    </div>
</div>