<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div>
    <header>
    <div class="row">
       <div class="col-12 nav">
           <ul>

            <li class="pita">

                 {{#link-to "index"}}
                      PITA
                  {{/link-to}}
            </li>

            <li >
                {{#link-to "forum" }}
                  Forum
                {{/link-to}}
            </li>
            <li >
                 {{#link-to "patch.overview"}}
                   Patches
                  {{/link-to}}
            </li>
            <li >
                 {{#link-to "about"}}
                   About us
                  {{/link-to}}
            </li>
            {{#if (and session.isAuthenticated auth.user.role.createticket)}}
            <li >
                 {{#link-to "support.overview"}}
                   Support
                  {{/link-to}}
            </li>
            {{/if}}
            {{#if session.isAuthenticated}}
                <li >
                  {{#link-to "logout"}}Log out{{/link-to}}
                </li>
                <li >
                    Welcome, {{auth.user.username}}
                </li>
            {{else}}
                 <li >
                   {{#link-to "createaccount"}} Register {{/link-to}}
                 </li>
                 <li >
                   {{#link-to "login"}} Log in {{/link-to}}
                 </li>
            {{/if}}
            {{#if (and auth.user.role.manageroles session.isAuthenticated) }}
            <li >
                 {{#link-to "role-editor"}}
                   User/Roles
                  {{/link-to}}
            </li>
            {{/if}}
            </ul>

        </div>

    </div>
    </header>
    <div class="row2">
        <div class="col-10 body_base">
      {{outlet}}
      </div>
    </div>
</div>
