<div>
  <div class="forum_inhalt">
    <!-- Forum inhalt-->
    Forum here trending posts and post in maximise in outlet
    <div>
      {{outlet}}
    </div>

  </div>
  <div class="forum_navbar">
    <!-- Forum nav siedbar-->
    navbar here, Chatrooms, topics etc.

  </div>
</div>
