<div class="row10">
  <div class="col-2 login">
    <form autocomplete=off>
      <p>Login</p>
    <label >E-Mail</label><br>
    {{input type="text" value=email autocomplete="off"}}<br>
    <label >Password</label><br>
    {{input type="password" value=password  autocomplete="off"}}<br>
    <button  {{action 'signIn' email password}}>Log in</button>
    <button  {{action 'register'}}>Register</button>
    </form>
  </div>
</div>
