<div class="row">
  <div class="col-2 patches bg_nav outline_r">

      {{#link-to "patch.overview"}}
      <div id="patch_ovw">
        Back to overview
      </div>
        {{/link-to}}
          {{#each model as |patch|}}
            {{small-patch-list patch=patch}}
          {{/each}}


  </div>
  {{outlet}}
</div>
