<div class="nav_abstand">


        <div class="support_ticket">
            <ul class="support_ul">
                <li class="support_li">
                    {{#link-to "support.new"}}
                        New ticket
                    {{/link-to}}
                </li>
                <li class="support_li">
                    {{#link-to "support.listAll"}}
                        List current tickets
                    {{/link-to}}
                </li>
            </ul>
        </div>

        <div>
            <p class="overview"></p>
        </div>
        <div class="support_inhalt">
            {{outlet}}
        </div>

</div>