{{#if (and session.isAuthenticated auth.user.role.createticket)}}
<div class="row">
  <div class="col-2 scrollable bg_nav outline_r support">
    <p class="support_nav_h">Support/Overview</p>
        {{#link-to "support.new"}}
          <div>
            New ticket
          </div>
        {{/link-to}}

        {{#link-to "support.listAll"}}
          <div>
            List current tickets
          </div>
        {{/link-to}}
  </div>

  {{outlet}}

</div>
{{/if}}
