
{{#if (and session.isAuthenticated auth.user.role.createticket)}}
        <div class="support_ticket">
            <ul class="support_ul">
                <li class="support_li">
                    {{#link-to "support.new"}}
                        New ticket
                    {{/link-to}}
                </li>
                <li class="support_li">
                    {{#link-to "support.listAll"}}
                        List current tickets
                    {{/link-to}}
                </li>
            </ul>

        <div class="support_inhalt">
              <div>
                <p class="overview">Support/Overview</p>
              </div>

            {{outlet}}
        </div>
      </div>
{{/if}}
